/*Structure styling*/
.active {
  background-color: #478061;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

ul {
  font-family: Ubuntu, Helvetica, sans-serif; font-size: 16.8px; 
  position: fixed;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #478061;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}

 .iconDetails {
margin-left:2%;
top: 50px;
float:left;

height:225px;
width:333px; 
} 

.home-page {
  margin: auto;
  width:50%;
  height:auto;
  padding:0%;
  margin-top: 6em;
  page-break-after: always;
}

/*Type-Setting styles*/

h4 {
    margin:0px;
}

h2{
font-family: Ubuntu, Helvetica, sans-serif; font-size: 2em; 
}

h3{
font-family: Ubuntu, Helvetica, sans-serif; 
}


p{
  font-family: Ubuntu, Helvetica, sans-serif; font-size: 0.875em;
}
/*Footer style.*/
footer {
  
  margin: auto;
  margin-left: 0;
  bottom: 0;
  width: 100%; 
  padding: 0px;
  text-align: center;
  color: darkgrey;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  margin-top: 2em;
  float: left;
  width: 100%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



